#subControlButtons {
	display: flex;
	position: absolute;
	background-color: rgba(18, 18, 18, 0.65);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	pointer-events: auto;
	border: #cccccc4f 1px solid;
	border-radius: 40px;
	align-items: left;
	justify-content: left;
	flex-wrap: wrap;
	bottom: 10px;
	left: 20px;
	min-width: 50px;
	cursor: grab;
	scale: 115%;
	padding: 2px;
}

#subControlButtons:empty{
	display:none;
}

#subControlButtons div, #subControlButtons span button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--discord-grey-1);
	opacity: unset;
	border-radius: 30px;
	transition: border-radius 200ms ease-in-out;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
	scale: 100%;
}

#subControlButtons div:hover {
	background-color: var(--discord-grey-3);
	border-radius: 40px;
	scale: 120%;
}

@media only screen and (max-width: 1200px) {
	#subControlButtons {
	left: 7px;
	}
	#connectUsers {
	max-width: 200px;
	min-width: 200px;
	}
}

.fullwindowButton {
	transition: opacity 0.3s;
	width: 0vh;
	height: 0vh;
	max-width: 0px;
	max-height: 0px;
	min-width: 0px;
	min-height: 0px;
	position: absolute;
	font-display: none;
	z-index: 6;
	right: 4vh;
	top: 4vh;
	color: white;
	cursor: pointer;
}

.fullwindowButtonimg {
	user-select: none;
	background-color:#0007;
	width:4vh;
}

.tile {
  margin-top: 10vh!important;
  max-height: 90vh!important;
}

.video-label {
	bottom:unset;
	top:0;
	text-align:middle;
	left:unset;
	background:unset;
	text-shadow : 0 0 10px #035;
	font-size: 7vh!important;
}