
.holder {
	position: relative;
	width: 100%!important;
	height: 100%!important;
	object-fit: cover;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	border-radius: 0px!important;
	border-width: 0px!important;
	border-color: #000000!important;
	border-style: solid;
	top:0px!important;
	left:0px!important;
}

.container_holder_video{
	position:relative!important;
	width:100%!important;
	left:0px!important;
	top:0px!important;
	height:100%!important;
	margin-top:0px!important;
	overflow:hidden!important;
}

.container_holder_video:hover {

	}

.fullwindowButton {
	transition: opacity 0.3s;
	width: 0vh;
	height: 0vh;
	max-width: 0px;
	max-height: 0px;
	min-width: 0px;
	min-height: 0px;
	position: absolute;
	font-display: none;
	z-index: 6;
	right: 4vh;
	top: 4vh;
	color: white;
	cursor: pointer;
}

.fullwindowButtonimg {
	user-select: none;
	background-color:#0007;
	width:4vh;
}

.context-menu--active {
    display: none !important;
}

.context-menu--active {
    display: none !important;
}

#advancedOptionsGeneral {
	display:none!important;
}

#popupSelector_user_settings {
	display:none!important;
}

.video-mute-state {
scale:1.3;
    top: 2;
    right: 2;
    position: absolute;
    color: #e0e0e0;
    border-radius: 20px;
	border:1px;
	border-style:solid;
    background-color: #840000;
    padding: 2px 2px 2px 2px;
    z-index: 2;
	box-shadow: 0px 0px 10px rgb(0 0 0);
}

.signal-meter{
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0px;
	padding:2px;
	top: 62px;
	border-radius: 50px;
	pointer-events:none;
	border: 1px #00555e solid;
	background-color: #000000;
	font-size: 20px;
	color:#3d3d3d!important;
	overflow:hidden;
	z-index: 5;
	cursor: help;
}