#subControlButtons {
	display: flex;
	position: absolute;
	background-color: rgba(18, 18, 18, 0.65);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	pointer-events: auto;
	border: #cccccc4f 1px solid;
	border-radius: 40px;
	align-items: left;
	justify-content: left;
	flex-wrap: wrap;
	bottom: 10px;
	left: 20px;
	min-width: 50px;
	cursor: grab;
	scale: 115%;
	padding: 2px;
}

#subControlButtons:empty{
	display:none;
}

#subControlButtons div, #subControlButtons span button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--discord-grey-1);
	opacity: unset;
	border-radius: 30px;
	transition: border-radius 200ms ease-in-out;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
	scale: 100%;
}

#subControlButtons div:hover {
	background-color: var(--discord-grey-3);
	border-radius: 40px;
	scale: 120%;
}

@media only screen and (max-width: 1200px) {
	#subControlButtons {
	left: 7px;
	}
	#connectUsers {
	max-width: 200px;
	min-width: 200px;
	}
}

.fullwindowButton {
	transition: opacity 0.3s;
	width: 0vh;
	height: 0vh;
	max-width: 0px;
	max-height: 0px;
	min-width: 0px;
	min-height: 0px;
	position: absolute;
	font-display: none;
	z-index: 6;
	right: 4vh;
	top: 4vh;
	color: white;
	cursor: pointer;
}

.fullwindowButtonimg {
	user-select: none;
	background-color:#0007;
	width:4vh;
}

.context-menu--active {
    display: none !important;
}

.context-menu--active {
    display: none !important;
}

.holder {
	position: relative;
	width: 118px!important;
	height: 118px!important;
	object-fit: cover;
	overflow:visible;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: var(--video-margin);
	border-radius: var(--video-rounded);
	border-width: var(--video-border);
	border-color: var(--video-border-color);
	border-style: solid;
	top:4px!important;
	left:4px!important;
}

.container_holder_video{
	position:relative!important;
	width:127px!important;
	left:4px!important;
	top:0px!important;
	height:144px!important;

	margin-top:3px!important;
	overflow:hidden!important;
	
}
.container_holder_video:hover {
	background-color: #ffffff08!important;
		border-radius:10px!important;
	}
video {
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	pointer-events: auto;
	background-color: transparent;
	/* border: 10px; */
	padding:0px;
	margin: 0px;
	height: 105px;
	user-select:none;
		overflow:hidden!important;
		border-radius:100px!important;
	
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-webkit-tap-highlight-color:transparent;
	outline-style:none;
	border-style:solid;
	background-size: var(--video-background-image-size);
	background-repeat: no-repeat;
	background-position: center;
	/* background-image: var(--video-background-image); */
}

.video-label{
	position: absolute!important;
	left:-10!important;
	font: 14px Arial!important; 
	font-weight: 200!important; 
	width:135!important;
	text-align: center!important;
	top:120px!important;
	background:#ffffff00!important;
	padding-top:0px!important;
	opacity:0.5;
}
video[data-speaking="0"] {
	transition: opacity .25s ease-in-out, background-size 0.5s ease;
}
video[data-speaking="1"] {
	background-image: var(--video-background-image-talking, var(--video-background-image));
	background-size: var(--video-background-image-size-talking, var(--video-background-image-size));
	transition: background-size 0.5s ease;
}
video[data-speaking="2"] {
	background-image: var(--video-background-image-screaming, var(--video-background-image));
	background-size: var(--video-background-image-size-screaming, var(--video-background-image-size));
	transition: background-size 0.5s ease;
}

#advancedOptionsGeneral {
	display:none!important;
}

#popupSelector_user_settings {
	display:none!important;
}


.video-mute-state {
scale:1.5;
    top: 6;
    right: 6;
    position: absolute;
    color: #840000;
    border-radius: 50px;
	border:1px;
	border-style:solid;
    background-color: #000000d9;
    padding: 2px 2px 2px 1px;
    z-index: 2;
	box-shadow: 0px 0px 5px rgb(0 0 0);
}