#subControlButtons {
	display: flex;
	position: absolute;
	background-color: rgba(18, 18, 18, 0.65);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	pointer-events: auto;
	border: #cccccc4f 1px solid;
	border-radius: 10px;
	align-items: left;
	justify-content: left;
	flex-wrap: wrap;
	bottom: 0px!important;
	left: -10px!important;
	min-width: 100px;
	cursor: default;
	scale: 100%;
	padding: 1px;
}

#subControlButtons:empty{
	display:none;
}

#subControlButtons div, #subControlButtons span button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--discord-grey-1);
	opacity: unset;
	border-radius:20px;
	transition: border-radius 200ms ease-in-out;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
	scale: 100%;
}

#subControlButtons div:hover {
	background-color: var(--discord-grey-3);
	border-radius: 20px;
	scale: 120%;
}

@media only screen and (max-width: 1200px) {
	#subControlButtons {
	left: 7px;
	}
	#connectUsers {
	max-width: 100px;
	min-width: 100px;
	}
}

.fullwindowButton {
	transition: opacity 0.3s;
	width: 0vh;
	height: 0vh;
	max-width: 0px;
	max-height: 0px;
	min-width: 0px;
	min-height: 0px;
	position: absolute;
	font-display: none;
	z-index: 6;
	right: 4vh;
	top: 4vh;
	color: white;
	cursor: pointer;
}

.fullwindowButtonimg {
	user-select: none;
	background-color:#0007;
	width:4vh;
}

.context-menu--active {
    display: none !important;
}

.context-menu--active {
    display: none !important;
}

.holder {
	position: relative;
	width: 88px!important;
	height: 88px!important;
	object-fit: cover;
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	border-radius: 44px!important;
	border-width: 1px!important;
	border-color: #555555!important;
	border-style: solid;
	top:4px!important;
	left:4px!important;
	/* z-index: +33!important; */!importan;!importa;!import;!impor;!impo;!imp;!im;!i;!;
}

.container_holder_video{
	position:relative!important;
	width:96px!important;
	left:2px!important;
	top:0px!important;
	height:114px!important;

	margin-top:2px!important;
	overflow:hidden!important;
	
}

.container_holder_video:hover {
	background-color: #ffffff0f!important;
		border-radius:10px!important;
	}

video {
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	pointer-events: auto;
	background-color: transparent;
	/* border: 10px; */
	padding:0px;
	margin: 0px;
	height: 0px;
	user-select:none;
	overflow:hidden!important;
	border-radius:100px!important;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-webkit-tap-highlight-color:transparent;
	outline-style:none;
	border-style:solid!important;
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
/* background-image: var(--video-background-image);*/
}

.video-label{
	position: absolute!important;
	left:0!important;
	font: 14px Arial!important; 
	font-weight: 100!important; 
	width:88!important;
	text-align: center!important;
	top:90px!important;
	background:#00000000!important;
	padding-top:0px!important;
	opacity:0.3;
	
}
video[data-speaking="0"] {
	transition: opacity .25s ease-in-out, background-size 0.5s ease;
}
video[data-speaking="1"] {
	background-image: var(--video-background-image-talking, var(--video-background-image));
	background-size: var(--video-background-image-size-talking, var(--video-background-image-size));
	transition: background-size 0.5s ease;
}

video[data-speaking="2"] {
	background-image: var(--video-background-image-screaming, var(--video-background-image));
	background-size: var(--video-background-image-size-screaming, var(--video-background-image-size));
	transition: background-size 0.5s ease;
}

#advancedOptionsGeneral {
	display:none!important;
}

#popupSelector_user_settings {
	display:none!important;
}
#canvas {
		border-radius:50px!important;	
}

.video-mute-state {
scale:1.3;
    top: 2;
    right: 2;
    position: absolute;
    color: #e0e0e0;
    border-radius: 20px;
	border:1px;
	border-style:solid;
    background-color: #840000;
    padding: 2px 2px 2px 2px;
    z-index: 2;
	box-shadow: 0px 0px 10px rgb(0 0 0);
}

.video-meter-2{
	padding:0;
	display:block;
	width:100%;
	height:100%;
	min-width:10px;
	min-height:10px;
	top: 0;
	right: 0;
	background-color:unset;
	 background-image: radial-gradient(#ffffff00 30%, #ffffff40 100%);
	position:absolute;
	border-radius: 50px;
	pointer-events:none;
	border: 0px #00555e solid;
	z-Index: 2;
}

.signal-meter{
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0px;
	padding:2px;
	top: 62px;
	border-radius: 50px;
	pointer-events:none;
	border: 1px #00555e solid;
	background-color: #000000;
	font-size: 20px;
	color:#3d3d3d!important;
	overflow:hidden;
	z-index: 5;
	cursor: help;
}