
body {
	margin:0px;
	background-color: #0d0d0d;
	width:100%;
	height:100%;
	overflow: hidden;
	}

iframe {
	width:100%;
	height:100%;
	border:0px;
	margin:0px;
	padding:0px;
	position:absolute;
	display:block;
}

.topnav {
	z-index: 2;
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 40px;
	overflow: hidden;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.35);
	background-color:#ffffff;
	}
.navbar {
	position: fixed;
	top: 12px;
	right: 0px;
	}

.siteIcon {
	position: fixed;
	top:5px;
	left:5px;
	height:32px;
	width:32px;
	opacity: 1;
	}
.siteIcon:hover {
	opacity:1!important;
}
.liveSessionIcon {
	position: absolute;
	font: 14px Arial; 
	font-weight: bold; 
	text-align: center; 
	display: none;
	width: 45px;
	height: 10px;
	top: -2px;
	right: 10px;
	color: #C94326;
	text-decoration: none;
	border-radius:12px;
	padding: 3px 2px 8px 3px;
	border: 1px solid #C94326;
	Cursor: pointer;
	-moz-animation: pulse 2s infinite;
	-webkit-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
	}	
.liveSessionIcon:hover {
	background-color: #C94326;
	color: white;
	}	

.clock {
    position: relative;
    text-align: center;
    left: calc(100% - 105px);
    width: 90px;
    height: 24px;
    top: 5px;
    color: #ffffff4d;
    border-radius: 10px;
    padding: 5px 5px 2px 5px;
    border: 1px solid #ffffff4d;
    font: 18px Arial;
    font-weight: 100;
    Cursor: default;
}

.ninjaIcon {
	position: absolute;
	float: left;
	top: 5px;
	text-decoration: none;
	transition-duration: 0.2s;
	left: 40px;
	Cursor: pointer;
	opacity: 1;
	}	
.ninjaIcon:hover {
	opacity: 1;
	}
.vdoninjatext{
    position: relative;
	left:2px;
	top: -3px;
	text-decoration: none;
	font: 13px Arial;
	font-weight: 100;
	color: #626262;
}
.vdoninjatext:hover {
	color: white;
	}
.vdoninjacat{
	position: absolute;
	left:85px;
	top:-3px;
	height:34px;
	width:34px;
	opacity: 0;
}

a {
	text-decoration: none;
	font: 14px Arial;
	font-weight: 400;
	color: #a2a2a2;
	}
a:hover {
	color: #656565;
	Cursor: pointer;
	}

font {
	text-decoration: none;
	position: relative;
	font: 14px Arial; 
	font-weight: 200; 
	color: #C94326;
	}
font:hover {
	color: white;
	Cursor: pointer;
	}


.portfolioIFrame {
	position: absolute;
	top: 40px;
	border:0px;
	width: 100%;
	height: calc(100% - 40px);
	background-color: #ededed;
	}
.mainIFrame {
	width:calc(100% - 113px);
	height:calc(100% - 45px);
	border:0px;
	margin:0px;
	padding-left:0px;
	position:fixed;
	top:40px;
	left:5px;
	background-color: #0b0b0b;
	display:block;
	z-index:0;
}

.chatIFrame {
	width:calc(100% - 5px);
	height:100%;
	border:0px;
	margin:0px;
	padding:0px;
	top:40px;
	left:3px;
	position:fixed;
	z-index:5;
	overflow:auto;
	background-color: #00000000;
	
}

.directorroom {
	background-color: dimgrey;
	width: 100%;
	height:calc(100% - 40px);
	border:0px;
	margin: 0px;
	padding:0px;
	top:40px;
}


/*popup for session ID and username*/
.blackout {
	z-index: 3;
	position: fixed;
	top:0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
 	}
.popupGroup {
	border:0px;
	z-index: 5;
	position: fixed;
	width:100%;
	top:21px;
	animation: slideIn 0.25s linear;
	
	}
.popupWindow {
	margin: auto;
	background-color: rgb(255 255 255);
	padding: 20px;
	width: 320px;
	height: 230px;
	border-radius:20px;	
	box-shadow: 0px 0px 80px rgba(0, 0, 0, 1);
	}
.popupTitle {	
	text-align: center;
	font: 28px Arial;
	font-weight: 100;
	color: darkgrey;
	margin-bottom: 20px;
	margin-top:0px;
	}
:where([autocomplete=one-time-code]) {
	--otp-digits: 6;
	--otp-ls: 2.2ch;
	--otp-gap: 1.2;

	/* private consts */
	--_otp-bgsz: calc(var(--otp-ls) + 1ch);
	--_otp-digit: 0;

	all: unset;
	margin-left:11px;
	background: 
		linear-gradient(90deg, 
	    var(--otp-bg, gainsboro) calc(var(--otp-gap) * var(--otp-ls)),
	    transparent 0),
	    linear-gradient(90deg, 
	    var(--otp-bg, gainsboro) calc(var(--otp-gap) * var(--otp-ls)),
			transparent 0);
	background-position: calc(var(--_otp-digit) * var(--_otp-bgsz)) 0, 0 0;
	background-repeat: no-repeat, repeat-x;
	background-size: var(--_otp-bgsz) 100%;
	caret-color: var(--otp-cc, #a2a2a2);
	caret-shape: block;
	clip-path: inset(0% calc(var(--otp-ls) / 2) 0% 0%);
	font-family: ui-monospace, monospace;
	font-weight: 600;
	font-size: var(--otp-fz, 1.6em);
	inline-size: calc(var(--otp-digits) * var(--_otp-bgsz));
	letter-spacing: var(--otp-ls);
	padding-block: var(--otp-pb, 1ch);
	padding-inline-start: calc(((var(--otp-ls) - 1ch) / 1.7) * var(--otp-gap));
}
.button {
	position:absolute;
	display:inline-block;
	margin-left: 60px;
	margin-top: 30px;
	Width: 200px;
	height: 48px;
	background-color: gainsboro;
	border: 0px;
	color: #000000;
	text-align: center;
	text-decoration: none;
	border-radius:20px;
	font: 20px Arial; 
	font-weight: 100;
	Cursor: pointer;
	}
.button:hover {
	background-color: #6633ff;
	color: white;
	}

.askNamePopupContent {
	margin: auto;
	display: none;
	}
.enterStageName {
	z-index: 10;
	text-align: center;
	font: 20px Arial; 
	font-weight: light; 
	color: black;
	background-color: gainsboro;
	position: relative;
	width:300px;
	height:48px;
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 0px solid;
	border-radius:10px;	
}
.subtext{
	text-align:justify;
	font: 14px Arial; 
	font-weight: 100; 
	color: grey;
	margin-left:30px;
	margin-right:30px;
	margin-top: 0px;
	margin-bottom: -25px;
}

@media (orientation: portrait) {
	.portfolioIFrame {
		position: absolute;
		top: -40px;
		border:0;
		width: 100%;
		height:calc(100% + 39px);
		background: #fefefe;
		}
	.mainIFrame {
		width:calc(100% - 10px);
		height:calc(100% - 148px);
	}	
}

@media (orientation: portrait)  and (width > 932px){
	.portfolioIFrame {
		position: absolute;
		top: 40px;
		border:0;
		width: 100%;
		height:100%;
		background: #fefefe;
		}
	.mainIFrame {
		width:calc(100% - 10px);
		height:calc(100% - 148px);
	}	
}


@media (orientation: landscape) and (width <= 932px) {
.portfolioIFrame {
		position: absolute;
		top: -39px;
		border:0;
		width: 100%;
		height:calc(100% + 39px);
		background-color: #ededed;
	}
}

@media (width <= 700px) or (height <= 500px) {
.popupGroup {
	top:-40px;
	scale:0.75!important;
	}
}

/*animation*/
@keyframes shake {
	0% {transform: translateX(0px);}
	15% {transform: translateX(-25px);}
	30% {transform: translateX(25px);}
	45% {transform: translateX(-25px);}
	60% {transform: translateX(25px);}
	75% {transform: translateX(-25px);}
	100% {transform: translateX(0px); animation-timing-function: ease-in;}
	}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
	}
@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
	}
@keyframes slideIn {
	0% { transform: translateY(-50px); animation-timing-function: linear; }
	100% { transform: translateY(0px); animation-timing-function: ease-in; }
	}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(200, 60, 60, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(200, 60, 60, 0);
    }
    100% {
        box-shadow: 0 0 0 50px rgba(200, 60, 60, 0);
    }
}

