
body.darktheme{
	background-color: #2e2e2e;
}

@media screen
.la-theater-masks:before {
content: "\f2bd";
}
.la-theater-masks:before {
content: "\f2bd";
}

.toggleSize {
	font-size: 28px;
	color: #a4a4a4;
}

#subControlButtons {
	display: flex;
	position: absolute;
	background-color: rgba(18, 18, 18, 0.65);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	pointer-events: auto;
	border: #cccccc4f 1px solid;
	border-radius: 40px;
	align-items: left;
	justify-content: left;
	flex-wrap: wrap;
	padding: 2px;
}

#subControlButtons:empty{
	display:none;
}

#subControlButtons div, #subControlButtons span button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--discord-grey-1);
	opacity: unset;
	border-radius: 30px;
	transition: border-radius 200ms ease-in-out;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
}

#subControlButtons div:hover {
	background-color: var(--discord-grey-3);
	border-radius: 40px;
	scale: 125%;
}

